doctype html
html
  head
    meta(charset="utf-8")

    title="Ch-Cat.ru"

    link(rel='stylesheet', href='/css/main-styles.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/fontawesome-free/css/all.css')
    link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,600&family=Inter:wght@100;200;300&display=swap" rel="stylesheet")

  body(style="background-color: #000")

    .container-fluid

      header
        .row
          include includes/index-header-nav
        .row.main-title#link-to-main
          .col
            h1 Ch-cat.ru
            h1 писательский блог
            p
              | Рассказы, миниатюры, поэзия
              | в процессе написания
            p И совсем чуть-чуть мистики

        .row
          .col.updates
            p.updates-title Updates and News
            .updates-scroll
              p.updates-date 16/06/2020
              p.updates-text The website's got revamped! Check out the new style.
              p.updates-date 11/10/2013
              p.updates-text Update in the Rockstar. The last chapter was rewritten.
              p.updates-date 22/08/2013
              p.updates-text
                | The main character, the rockstar, of the novel finally got
                | a name! Short, strong and sharp.
              p.updates-date 17/07/2013
              p.updates-text
                | A new chapter in the Rockstar is ready. It shows some
                | a name! Short, strong and sharp.
                | backstage magic and reveales the character of the rockstar.
                p
                  a(class="link-to" href="#") Read this chapter

      .section-novels#link-to-novels
        .row
          .col.title-novels
            h2 novels

        .row.section-novels-items
          .col-6
            .row
              .col.novel-items.cover-novels.rockstar
                i.fas.fa-star
              .col.novel-items
                h3 Рокстар
                p
                  | Сначала это была обычная студенческая жизнь. Своя группа,
                  | кавер версии на музыку известного музыканта. Пока грань
                  | между реальностью и притворством не стала таять...
                p
                  a(class="link-to" href="/novels/rockstar/1") Read

          .col-6
            .row
              .col.novel-items.cover-novels.dead-city
              .col.novel-items
                h3 Мертвый город
                p
                  | Охотница за чудовищами. У каждого города должен быть такой.
                  | Большие города тлеют изнутри. И кто-то должен вырезать эту
                  | опухоль. Охотники - как иммунитет, порождаемы самим городом.
                  | Она - та, кто должна заглядывать в самые темные уголки души,
                  | и этого города, и себя.
                p
                  a(class="link-to" href="/novels/dead-city/1") Read
        .row.section-novels-items
          .col-6
            .row
              .col.novel-items.cover-novels.first-vampire
              .col.novel-items
                h3 Первый вампир
                p
                  | Кость за костью. Мышца за мышцей. Самый первый вампир появился
                  | постепенно. Знаешь ли ты, кто ты, если ты не помнишь ни откуда
                  | ты появился и какова твоя цель. Нет никого, похожего на тебя.
                  | Твое сознание начинается с нуля. Как отделить добро от зла...
                p
                  a(class="link-to" href="/novels/first-vampire/1") Read

          .col-6
            .row
              .col.novel-items.cover-novels.broken-hearts
              .col.novel-items
                h3 Разбитые сердца
                p
                  | Серия рассказов о разбитых сердцах. Сердца рабиваются по
                  | разному, но приводят к одному - зияющей боли. 
                  | Посвещается всем страждущим.
                p
                  a(class="link-to" href="/novels/broken-hearts/1") Read

      .section-shorts#link-to-stories
        .row
          .col.title-shorts
            h2 Short Stories

        .row.section-shorts-items
          .col-4
            .row.key-heart
              .col.shorts-items.cover-shorts
                p
              .col.shorts-items
                h3 Ключ к сердцу
                p A short essay about living with a closed heart.
                p
                  a(class="link-to" href="/short-stories/key-heart") Read
          .col-4
            .row.ticket
              .col.shorts-items.cover-shorts
              .col.shorts-items
                h3 Билет до конца света
                p A short story about kids and the end of the world imagination.
                p
                  a(class="link-to" href="/short-stories/ticket-world") Read
          .col-4
            .row.walking
              .col.shorts-items.cover-shorts
              .col.shorts-items
                h3 Когда я иду
                p An essay about what what an IT person might think about while walking.
                p
                  a(class="link-to" href="/short-stories/walking") Read

        .row.section-shorts-items
          .col-4
            .row.riga
              .col.shorts-items.cover-shorts
              .col.shorts-items
                h3 Рига в дожде
                p An essay on how Riga feels when it's raining.
                p
                  a(class="link-to" href="/short-stories/riga-rain") Read
          .col-4
            .row.divided
              .col.shorts-items.cover-shorts
                p
              .col.shorts-items
                h3 Воедино / Divided
                p A drama in a dialogue
                p
                  a(class="link-to" href="/short-stories/divided") Read
          .col-4
            .row.corner
              .col.shorts-items.cover-shorts
                p
              .col.shorts-items
                h3 Тот, что в углу
                p An essay about inner fears.
                p
                  a(class="link-to" href="/short-stories/one-in-corner") Read

      .section-inspired-articles#link-to-articles
        .row
          .col-6.title-inspired
            h2 Stories Inspired by
          .col-6.title-articles
            h2 Articles

        .row
          .col-6.inspired-articles-items
            .row.inspired-items
                .col-3
                  i.fas.fa-key
                .col-6
                  h3 Ключ для Алисы
                .col-3
                  h3
                    a(class="link-to" href="#") Read
            .row.inspired-items
                .col-3
                  i.fas.fa-spider
                .col-6
                  h3 Pink Spider
                .col-3
                  h3
                    a(class="link-to" href="#") Read
          .col-6.inspired-articles-items
            .row.inspired-items
                .col-3
                  i.fas.fa-feather
                .col-6
                  h3 О талантах и хобби
                .col-3
                  h3
                    a(class="link-to" href="#") Read
            .row.inspired-items
                .col-3
                  i.fas.fa-feather
                .col-6
                  h3 Пишут все, кому не лень?
                .col-3
                  h3
                    a(class="link-to" href="#") Read

      .section-poetry#link-to-poetry
        .row
          .col.title-poetry
            h2 Haiku

        .row.section-poetry-row
          .col-1
          .col-2
            p
              | И пока я не ушел,
              | Дай сказать прости.
              | Ты закрыла дверь...
          .col-2
            p
              | За окном пурга —
              | Зиме никак не уйти.
              | Мир теперь во льду
          .col-2
            p
              | Снова возвращаюсь
              | Ни душой, ни телом, ни умом.
              | Город печали
          .col-2
            p
              | Вечный дождь.
              | Вот дорога предо мной.
              | Снова дома я
          .col-2
            p
              | Восход солнца,
              | Где далекий горизонт.
              | Забери меня
          .col-1

        .row.section-poetry-row
          .col-1
          .col-2
            p
              | Открыты двери.
              | Отступает прочь зима —
              | Дорога весны
          .col-2
            p
              | В тумане вся река.
              | Куда же теперь плыть?
              | Голос птицы в тишине
          .col-2
            p
              | Вишни цвет расцвел в душе,
              | Не смотря на снег.
              | За окном уже весна
          .col-2
            p
              | Темный небосвод.
              | Уплывают облака.
              | Зонтик от дождя
          .col-2
            p
              | Сумерки в душе.
              | Бесконечный мыслей ход.
              | Снова дождь
          .col-1

        .row.section-poetry-row
          .col-2
          .col-2
            p
              | Души снегом скованы
              | Где живет любовь?
              | Мы забыли туда путь
          .col-2
            p
              | Середина февраля.
              | Рождение солнца
              | С улыбкой на устах
          .col-2
            p
              | Не оглядывайся,
              | Нить Ариадны исчезнет.
              | Плачущая луна
          .col-2
            p
              | Подожди, я с тобою,
              | Ветра дух и шелест листвы.
              | Улетаю
          .col-2

        .row.section-poetry-row
          .col-4
          .col-2
            p
              | Отпусти — отпускаю.
              | Дождь смывает последние слезы.
              | Прости и прощай
          .col-2
            p
              | Принятие…
              | Подожди, я с тобой попрощаюсь.
              | Эхо в пустоте
          .col-4

      .row 
        include includes/index-footer
