doctype html
html
  head
    meta(charset="utf-8")

    title="Ch-Cat.ru"

    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/fontawesome-free/css/all.css')
    link(rel='image', href='/images/img-header-md.jpg')
    //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,600&family=Inter:wght@100;200;300&display=swap" rel="stylesheet")
    //- link(href="/../../vendors/css/js/all.js" rel="stylesheet")

    //- style
    //- include /images

  body

    header
      nav.section.navigation
        ul.navigation-bar
          li
            a(href="#") Home
          li
            a(href="#link-to-novels") Novels
          li
            a(href="#link-to-stories") Short Stories
          li
            a(href="#link-to-articles") Stories inspired by
          li
            a(href="#link-to-articles") Articles
          li
            a(href="#link-to-poetry") Haiku Poetry
          li
            a(href="#link-to-contacts") Contacts

    .content
      .row
        .col
          h2 Novel name
          h4 Chapter 1
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

      block content

      .row
        .col.back
          a(class="button", href="#") back to the top

    footer.section-footer
      .row
        .col.footer-items
          p Contacts
        .col.footer-items.copyrightstamp
          p &copy ch-cat.ru
      .row
        .col.footer-items
          a("mailto: chcatblog@gmail.com")
            i.fas.fa-at
          a("#")
            i.fab.fa-facebook
          a("https://twitter.com/chcatblog")
            i.fab.fa-twitter
          a("#")
            i.fab.fa-vk
        .col.footer-items.copyrightstamp
          p All rights reserved

<!-- Brand icons are licenced here https://fontawesome.com/license -->
