doctype html
html
  head
    met(charset="utf-8")
    title="Ch-Cat Writer's blog"

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="resources/css/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,600&family=Inter:wght@100;200;300&display=swap" rel="stylesheet")
    link(href="vendors/css/css/all.css" rel="stylesheet")
  body
    block header
      header
        nav.section.navigation
          .console
            ul.navigation-bar
              li
                a(href="#") Home
              li
                a(href="#link-to-novels") Novels
