/*------------------------------*/
/* BASIC SETUP */
/*------------------------------*/

/** {
    margin: 0;
    padding: 0;
}*/


/* REUSABLE COMPONENTS */

/*Very light grey #E3DFDA
Light grey #BDB9B5
Grey #7D7B78
Dark Grey #3D3C3B
Peach #FDF8F2
Dark Grey Peach #CCB5AD */

.title-novels,
.title-shorts,
.title-inspired,
.title-poetry {
  text-align: center;
}

.title-novels h2,
.title-shorts h2,
.title-inspired h2,
.title-articles h2,
.title-poetry h2 {
  border-bottom: 2px solid #CCB5AD;
  text-align: center;
  text-transform: uppercase;
}

.section-novels h3,
.section-shorts h3,
.section-inspired-articles h3 {
    font-size: 100%;
    font-weight: bold;
}

.section-novels h3,
.section-novels h2,
.section-shorts h3,
.section-shorts h2,
.section-inspired-articles h3,
.section-inspired-articles h2,
.section-poetry h2,
.section-poetry p {
  font-family: 'EB Garamond', serif;
}

.title-novels,
.title-shorts,
.title-inspired,
.title-articles,
.title-poetry {
  padding: 7% 0;
}

.rockstar,
.broken-hearts,
.dead-city,
.first-vampire,
.heroes,
.rain-riga,
.key-heart,
.end-world,
.when-walk,
.divided,
.it-in-corner,
.alice-key,
.pink-spider,
.article-1,
.article-2 {
  text-align: center;
  padding: 1.5%;
}

.section-novels .row:last-child,
.section-shorts .row:last-child,
.section-inspired-articles {
  padding-bottom: 5%;
}

/* BUTTONS */


/* ICONS */

i {
  font-size: 300%;
  padding: 15%;
}

.icon-border {
  border-radius: 15%;
  margin: 0 30%;
}

.section-novels .icon-border,
.section-inspired-articles .icon-border {
  border: 2px solid #3D3C3B;
}

.section-shorts .icon-border {
  border: 2px solid #FDF8F2;
}

.section-novels i,
.section-inspired-articles i {
  color: #3D3C3B;
}

.section-shorts i {
  color: #FDF8F2;
}

.section-footer i {
  padding: 0 4% 2% 0;
  color: #CCB5AD;
  font-size: 1rem;
}


/* ICON ANIMATIONS */

.rockstar .fa-star:hover {
  animation-name: rockstarIcon;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rockstarIcon {
  100% {
    transform: scale(0.5) rotate(180deg);
  }
  75% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.7);
  }
  25% {
    transform: scale(0.8);
  }
  0% {
    transform: scale(0.9);
  }
}

.dead-city .fa-skull {
  animation-name: skullWink;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  aniimation-iteration-count: infinite;
}

@keyframes skullWink {
  0% {

  }
  100% {
    
  }
}

/* LINKS */

.navigation-bar a:link,
.navigation-bar a:active,
.navigation-bar a:visited {
  color: #BDB9B5;
  text-decoration: none;
}

.navigation-bar a:hover {
  color: #CCB5AD;
  font-weight: bolder;
  transition: color 0.3s, font-weight 0.3s;
}

.main-title a:hover,
.main-title h1:hover {
  text-decoration: none;
  color: #CCB5AD;
  transition: color 0.3s;
}

.section-novels a:link,
.section-novels a:active,
.section-novels a:visited,
.section-inspired-articles a:link,
.section-inspired-articles a:active,
.section-inspired-articles a:visited {
  color: #000;
}

.section-novels h3:hover,
.section-novels a:hover,
.section-novels i:hover,
.section-inspired-articles h3:hover,
.section-inspired-articles a:hover,
.section-inspired-articles i:hover {
  text-decoration: none;
  color: #7D7B78;
  transition:  color 0.3s;
}

/*Below on hover changes icon to pink as it's a symbol of the essay*/
.pink-spider a:hover,
.pink-spider i:hover,
.pink-spider a:active,
.pink-spider i:active {
  color: #FF789F;
}


/* SECTION HEADER */

header {
    background-image:linear-gradient(rgba(56, 54, 54, 0.7), rgba(56, 54, 54, 0.7)), url(../../vendors/images/img-header-md.jpg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    background-attachment: fixed;
}

.navigation-bar {
    list-style: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    float: right;
    margin-top: 1rem;
}

.navigation-bar li {
  display: inline-block;
  margin: auto 1rem;
}

.navigation-bar:last-child {
  margin-right: 1rem;
}

header h1,
header h2 {
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: #FDF8F2;
}

header h1 {
  font-style: italic;
  font-weight: 700;
  margin-top: 10rem;
}

header h2 {
  font-weight: 300;
}

/* SECTION NOVELS & SECTION INSPIRED&ARTICLES */

.section-novels,
.section-inspired-articles {
  background-color: #E3DFDA;  /*grey background*/
}

.section-novels h3,
.section-novels h2,
.section-inspired-articles h3,
.section-inspired-articles h2 {
  color: #3D3C3B; /*dark text*/
}

/*SECTION INSPIRED & ARTICLES*/

.section-articles {
  margin-left: -5%;
}

.section-inspired h3,
.section-articles h3 {
  text-align: left;
}

.title-inspired,
.section-inspired,
.padding-inspired-articles {
  border-right: 2px solid #CCB5AD;
}

.section-inspired-articles {
  padding-bottom: 0;
}

/*Below class is only to fix the line issue not extending through bottom padding*/
.padding-inspired-articles {
  padding-top: 5%;
}

/* SECTION SHORT STORIES & SECTION POETRY */

.pink-spider h3,
.alice-key h3,
.article-1 h3,
.article-2 h3 {
  margin: 20% 20% 20% 0;
  text-align: left;
}

.pink-spider,
.alice-key,
.article-1,
.article-2 {
  text-align: right;
}

.section-shorts,
.section-poetry {
  background-color: #3D3C3B; /* dark background*/
}

.section-shorts h3,
.section-shorts h2,
.section-poetry h2,
.section-poetry p {
  color: #FDF8F2; /* light text*/
}


/* SECTION POETRY */

.section-poetry p {
  border: 2px solid #CCB5AD;
  height: 100%;
  border-radius: 5%;
  padding: 7%;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}

.section-poetry-row {
  padding: 0 3%;
  padding-bottom: 3%;
}

.section-poetry-row:last-child {
  padding-bottom: 5%;
}

/* SECTION FOOTER */

.section-footer {
  background-color: #000;
  color: #CCB5AD;
  padding: 3% 0;
  font-weight: bold;
  line-height: 2rem;
}

.section-footer .copyrightstamp {
  text-align: right;
  font-size: 85%;
  font-weight: normal;
}
