/*------------------------------*/
/* BASIC SETUP */
/*------------------------------*/

.row {
  margin-right: 0;
}



/* REUSABLE COMPONENTS */

header h1,
.navigation-bar a,
.main-title p,
.section-novels h2,
.section-novels h3,
.section-novels p {
  color: rgba(206, 177, 143);
}

/* BUTTONS */


/* ICONS */




/* ICON ANIMATIONS */



/* LINKS */

.navigation-bar a:hover,
.navigation-bar a:active,
.link-to:hover,
.link-to:active {
  text-decoration: none;
}

.navigation-bar a:hover,
.navigation-bar a:active {
  color: rgba(153, 170, 138);
  transition: color 0.3;
}

.link-to {
  color: rgba(153, 170, 138);
}

.link-to:hover,
.link-to:active {
  opacity: 0.7;
  color: rgba(153, 170, 138);
  transition: color, opacity 0.3;
}


/* SECTION HEADER */

header {
  background-image: linear-gradient(rgba(5, 2, 11, 0.7), rgba(5, 2, 11, 0.7)), url(../../vendors/images/img-header-md.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navigation-bar {
  list-style: none;
  text-align: center;
  width: 100%;
  background-color: rgba(5, 2, 11);
}

.navigation-bar li {
  display: inline-block;
  padding: 1% 2%;
  text-transform: uppercase;
  font-size: 0.8rem;
}

header h1,
.main-title p {
  font-style: bold;
  text-align: center;
  padding: 0 10%;
}

.main-title p {
  font-size: 1rem;
}

header h1:first-child {
  padding-top: 10%;
}

header h1:last-child {
  text-decoration: overline;
}

.updates h5,
.updates p {
  font-style: italic;
  color: rgba(202, 169, 126);
  opacity: 0.7;
}

.updates {
    background-color: rgba(5, 2, 11, 0.7);
    margin-top: 7%;
    padding: 3% 27.5%;
}

.updates-date,
.updates-text {
  margin-bottom: 0.1rem;
}

.updates-title {
  font-weight: normal;
  font-weight: bold;
}

.updates-date,
.updates-text {
  font-weight: normal;
  font-style: italic;
}

/* SECTION NOVELS */

.section-novels {
  background-color:  rgba(5, 2, 11);
  text-align: left;
}

.section-novels-items {
  padding-top: 3%;
}

.section-novels h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 2%;
}

.section-novels h3,
.section-novels p {
  opacity: 0.8;
}

.cover-novels {
  background-image: linear-gradient(rgba(5, 2, 11, 0.7), rgba(5, 2, 11, 0.7)), url(../../vendors/images/img-typewriter-green.jpg);
  background-size: cover;
  height: 20rem;
  width: 15rem;
  padding: 0 5%;
}

.cover-novels p {
  color: rgba(206, 177, 143, 0.7);
  text-transform: uppercase;
}

/* SECTION SHORT STORIES */

.cover-shorts {
  background-image: linear-gradient(rgba(5, 2, 11, 0.7), rgba(5, 2, 11, 0.7)), url(../../vendors/images/img-book.jpg);
  background-size: cover;
}

/* SECTION INSPIRED AND ARTICLES */

/* SECTION POETRY */

/* SECTION FOOTER */
