/*------------------------------*/
/* BASIC SETUP */
/*------------------------------*/

* {
    margin: 0;
    padding: 0;
}


/* REUSABLE COMPONENTS */

/*Very light grey #E3DFDA
Light grey #BDB9B5
Grey #7D7B78
Dark Grey #3D3C3B
Peach #FDF8F2
Dark Grey Peach #CCB5AD */

/* BUTTONS */

/* ICONS */

i {
  font-size: 300%;
  color: #3D3C3B;
  border: 2px solid #3D3C3B;
  padding: 5%;
  border-radius: 10%;
}

/* LINKS */

.navigation-bar a:link,
.navigation-bar a:active,
.navigation-bar a:visited {
  color: #BDB9B5;
  text-decoration: none;
}

.navigation-bar a:hover {
  color: #CCB5AD;
  font-weight: bolder;
  transition: color 0.3s, font-weight 0.3s;
}

.main-title a:hover,
.main-title h1:hover {
  text-decoration: none;
  color: #CCB5AD;
  transition: color 0.3s;
}

.section-novels a:link,
.section-novels a:active,
.section-novels a:visited {
  color: #000;
}

.section-novels h3:hover,
.section-novels a:hover,
.section-novels i:hover {
  text-decoration: none;
  color: #7D7B78;
  transition:  color 0.3s;
}

/* SECTION HEADER */

header {
    background-image:linear-gradient(rgba(56, 54, 54, 0.7), rgba(56, 54, 54, 0.7)), url(../images/img-header.jpeg);
    background-size: cover;
    background-position: center;
    height: 30rem;
    background-attachment: fixed;
}

.navigation-bar {
    list-style: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    float: right;
    margin-top: 1rem;
}

.navigation-bar li {
  display: inline-block;
  margin: auto 1rem;
}

.navigation-bar:last-child {
  margin-right: 1rem;
}

header h1,
header h2 {
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: #FDF8F2;
}

header h1 {
  font-style: italic;
  font-weight: 700;
  margin-top: 10rem;
}

header h2 {
  font-weight: 300;
}

/* SECTION NOVELS */

.section-novels {
  background-color: #E3DFDA;
}

.title-novels {
  text-align: center;
}

.title-novels h2 {
  border-bottom: 2px solid #CCB5AD;
  text-align: center;
  text-transform: uppercase;
}

.section-novels h3 {
    font-size: 100%;
    font-weight: bold;
}

.section-novels h3,
.section-novels h2 {
  color: #3D3C3B;
  font-family: 'EB Garamond', serif;
}

.title-novels {
  padding: 7% 0;
}

.rockstar,
.broken-hearts,
.dead-city,
.first-vampire,
.heroes {
  text-align: center;
  padding: 1.5%;
}

/*.section-novels-1:first-child {
  padding-top: 1%;
}*/

.section-novels .row:last-child {
  padding-bottom: 5%;
}
