.navigation-bar.navbar.navbar-expand-md.fixed-top
    ul.navbar-nav.d-flex.justify-content-around.mr-auto.navigation-bar
        li.nav-item
            a(class="nav-link" href="/") Home
        li.nav-item
            a(class="nav-link" href="/#link-to-novels") Novels
        li.nav-item
            a(class="nav-link" href="/#link-to-stories") Short Stories
        li.nav-item
            a(class="nav-link" href="/#link-to-articles") Stories inspired by
        li.nav-item
            a(class="nav-link" href="/#link-to-articles") Articles
        li.nav-item
            a(class="nav-link" href="/#link-to-poetry") Haiku Poetry
        li.nav-item
            a(class="nav-link" href="/#link-to-contacts") Contacts
