footer#link-to-contacts.section-footer
  .row
    .col.footer-items
      p Contacts
    .col.footer-items.copyrightstamp
      p &copy ch-cat.ru #{copyrightYear}
  .row
    .col.footer-items
      a("mailto: chcatblog@gmail.com")
        i.fas.fa-at
      a("#")
        i.fab.fa-facebook
      a("https://twitter.com/chcatblog")
        i.fab.fa-twitter
      a("#")
        i.fab.fa-vk
    .col.footer-items.copyrightstamp
      p All rights reserved
