nav(class="navigation-bar navbar navbar-expand-md position-fixed" role="navigation" aria="navigation")
    .container-fluid
        button(class="navbar-toggler nav-burger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
            span
                i(class="fas fa-bars")
        div(class="collapse navbar-collapse justify-content-around" id="navbarNavAltMarkup")
            div(class="navbar-nav")
                a(class="nav-item nav-link" href="/") Главная
                a(class="nav-item nav-link" href="/#link-to-novels") Романы
                a(class="nav-item nav-link" href="/#link-to-stories") Миниатюры
                a(class="nav-item nav-link" href="/#link-to-articles") По мотивам
                a(class="nav-item nav-link" href="/#link-to-articles") Статьи
                a(class="nav-item nav-link" href="/#link-to-poetry") Хайку
                a(class="nav-item nav-link" href="/#link-to-contacts") Контакты
