.row 
    .col
        div(id="carouselExampleControls" class="carousel slide" data-ride="carousel")
            .carousel-inner
                .carousel-item.active
                    .row 
                        .col-2
                        .col
                            p 
                                | И пока я не ушел,
                                br
                                | Дай сказать прости.
                                br
                                | Ты закрыла дверь...
                        .col
                            p
                                | За окном пурга —
                                br
                                | Зиме никак не уйти.
                                br
                                | Мир теперь во льду
                        .col
                            p
                                | Снова возвращаюсь
                                br
                                | Ни душой, ни телом, ни умом.
                                br
                                | Город печали
                        .col
                            p
                                | Вечный дождь.
                                br
                                | Вот дорога предо мной.
                                br
                                | Снова дома я
                        .col-2
                .carousel-item
                    .row
                        .col-2
                        .col 
                            p
                                |  Восход солнца,
                                br
                                |  Где далекий горизонт.
                                br
                                |  Забери меня
                        .col 
                            p 
                                | Открыты двери.
                                br
                                | Отступает прочь зима —
                                br
                                | Дорога весны
                        .col 
                            p
                                | В тумане вся река.
                                br
                                | Куда же теперь плыть?
                                br
                                | Голос птицы в тишине
                        .col 
                            p 
                                | Вишни цвет расцвел в душе,
                                br
                                | Не смотря на снег.
                                br
                                | За окном уже весна
                        .col-2
                .carousel-item
                    .row
                        .col-2
                        .col 
                            p 
                                | Темный небосвод.
                                br
                                | Уплывают облака.
                                br
                                | Зонтик от дождя
                        .col 
                            p 
                                | Сумерки в душе.
                                br
                                | Бесконечный мыслей ход.
                                br
                                | Снова дождь
                        .col 
                            p
                                | Души снегом скованы
                                br
                                | Где живет любовь?
                                br
                                | Мы забыли туда путь
                        .col 
                            p
                                | Середина февраля.
                                br
                                | Рождение солнца
                                br
                                | С улыбкой на устах
                        .col-2
                .carousel-item
                    .row 
                        .col-2
                        .col 
                            p 
                                | Не оглядывайся,
                                br
                                | Нить Ариадны исчезнет.
                                br
                                | Плачущая луна.
                        .col
                            p 
                                | Подожди, я с тобою,
                                br
                                | Ветра дух и шелест листвы.
                                br
                                | Улетаю
                        .col
                            p 
                                | Отпусти—отпускаю
                                br
                                | Дождь смывает последние слезы.
                                br
                                | Прости и прощай
                        .col
                            p 
                                | Принятие…
                                br
                                | Подожди, я с тобой попрощаюсь.
                                br
                                | Эхо в пустоте
                        .col-2

            a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
                span(class="sr-only") Previous
            a(class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
                span(class="sr-only") Next
