nav.section.navigation
    ul.navigation-bar
        li
            a(href="/") Home
        li
            a(href="/#link-to-novels") Novels
        li
            a(href="/#link-to-stories") Short Stories
        li
            a(href="/#link-to-articles") Stories inspired by
        li
            a(href="/#link-to-articles") Articles
        li
            a(href="/#link-to-poetry") Haiku Poetry
        li
            a(href="/#link-to-contacts") Contacts
