.navigation-bar.navbar.navbar-expand-md.fixed-top
    ul.navbar-nav.d-flex.justify-content-around.mr-auto.navigation-bar
        li.nav-item
            a(class="nav-link" href="/") Главная
        li.nav-item
            a(class="nav-link" href="/#link-to-novels") Романы
        li.nav-item
            a(class="nav-link" href="/#link-to-stories") Миниатюры
        li.nav-item
            a(class="nav-link" href="/#link-to-articles") По мотивам
        li.nav-item
            a(class="nav-link" href="/#link-to-articles") Статьи
        li.nav-item
            a(class="nav-link" href="/#link-to-poetry") Хайку
        li.nav-item
            a(class="nav-link" href="/#link-to-contacts") Контакты
